@model MovieApp.Models.Genre

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.Name</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id="genreName" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movies, htmlAttributes: new { @class = "control-label col-md-2" })            
            <div class="col-md-10" style="height:250px; width:400px; overflow-y:scroll">
                <br />
               @{ 
                   List<MovieApp.Models.AssignedMovie> genremovies = ViewBag.Movies;
                   foreach(var movie in genremovies.OrderBy(m=>m.Title))
                   {
                       <ul style="padding:0px">
                           <input type="checkbox" name="SelectedMovies" value="@movie.id" @Html.Raw(movie.Assigned ? "checked=\"checked\"":"") />
                            @movie.Title (@movie.Year)
                            
                       </ul>
                   }
               }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Changes" name="save" class="btn btn-default" id="editGenre" />
                
            </div>
        </div>
        <input type="button" value="Delete" name="deleteGenre" onclick="DeleteGenre(@Model.Id, @Model.Movies.Count())" class="btn btn-default" data-confirm="Are you sure you wish to delete @Model.Name?" style="background-color:red; color:white" />
    </div>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Manage", new { id = string.Empty }, null)
</div>


<script src="@Url.Content("~/Scripts/Movie.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Styles/Validation.css")" rel="stylesheet" type="text/css" />

