@model ICollection<MovieApp.Models.Genre>
@{
    ViewBag.Title = "Manage Genres";
}

<span style="color:green; font-size:24px">@TempData["Success"]</span> 
<span style="color:red; font-size:24px">@TempData["Error"]</span> 

<link href="@Url.Content("~/Styles/Manage.css")" rel="stylesheet" type="text/css" />

<h2>Manage Genres</h2>

<table>
    <thead>
        <tr><th>@Html.ActionLink("Add", "Create", "Genre")</th><th>Name</th><th>Movies</th></tr>
    </thead>
    <tbody>
        @foreach (var genre in Model.OrderBy(x=>x.Name))
        {
        <tr>          
            <td>@Html.ActionLink("Edit", "Edit", "Genre", new { id = @genre.Id }, null)</td>
            <td>@genre.Name</td>           
            <td>
                @foreach (var movie in @genre.Movies.OrderBy(x=>x.Title))
                {
                    <ul class="tdlist">@movie.Title (@movie.Year)</ul>
                }    
            </td>           
        </tr>
        }
    </tbody>
</table>

<script src="@Url.Content("~/Scripts/Movie.js")" type="text/javascript"></script>
