@model MovieApp.Models.Movie

<h4>@Model.Title (@Model.Year)</h4>
<div style="height:180px; overflow-y:scroll">

    @foreach (var genre in Model.Genres.ToList())
    {
        <h4>@Html.ActionLink(@genre.Name, "All", "Genre", new { id = @genre.Id }, null)</h4>
    }
</div>
<input type="button" value="Close" onclick="CloseDialog()" />

<script src="@Url.Content("~/Scripts/Movie.js")" type="text/javascript"></script> 